<form action="/upload" method="POST" enctype="multipart/form-data">
    <div>
        <input type="date" name="date" value="2020-03-13" />
    </div>
    <div>
        <input type="file" name="video" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>